.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 85vh;
  align-items: center;
  margin: auto;
  width: min-content;
  margin-top: 45px;
}

.column {
  height: 80vh;
  min-width: 350px;

  overflow: scroll;
}

.column:nth-child(3) {
  text-align: center;
}

.nominatedList {
  font-size: 25px;
  font-weight: 500;
  padding: 25px;
  background-image: url("../assets/gold.jpg");
  background-size: 100%;
  min-height: 73vh;
}

.nominatedList span {
  /* background-color: gold; */
  padding: 5px;
  text-shadow: 2px -3px 4px #845005bf;
  /* box-shadow: -3px 2px 9px 2px rgb(0, 0, 0); */
}

.middle {
  font-size: 125px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Cookie", cursive;
  color: rgb(212 175 82);
  text-shadow: -2px 0px 8px black;
}
