.searchBarContainer {
  padding: 10px;
  background-color: white;
  border: black 1px solid;
}

.searchBarContainer input {
  width: 90%;
  font-size: 18px;
  border: white 1px solid;
}

.searchInputContainer {
  border: black 1px solid;
  padding: 5px;
}

* input {
  outline: none;
}
